<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hassanmalik.echallan">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".sergeant.Activities.EchallanLogin"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".sergeant.Activities.HomeChallan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sergeant.Activities.Violatorinformation"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sergeant.Activities.Vehicle_Information_submit"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sergeant.Activities.ViolationInformationSelection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sergeant.Adapters.customListAdapterSel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sergeant.Activities.todaysSummary"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".sergeant.Activities.LauncherActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>